@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  outline: none;
  vertical-align: initial;
}

body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}
.section {
  height: 100vh !important;
}

.fp-watermark {
  display: none !important;
}
.fp-watermark > a {
  display: none !important;
}
