@import "../scss/Common.scss";
.shape_top {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
  }
}

.sec4_bg {
  position: absolute;
  width: 100%;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}

.txt_inner {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 3;
  align-items: center;
  column-gap: 50px;
  justify-content: center;

  h3 {
    @include popin;
    color: #fff;
    margin-bottom: 20px;
    font-size: 55px;
    font-weight: 800;
  }
  p {
    width: 310px;
    color: #fff;
    font-size: 17px;
    text-align: center;
  }

  form {
    .send_email {
      display: inline-block;
      padding: 10px 45px;
      margin-top: 20px;
      border: 2px solid #fff;
      background-color: #fff;
      color: #000;
      @include popin;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);

      &:hover {
        background-color: transparent;
        color: #fff;
        transform: translateY(-3px);
      }
    }
  }
}

button {
  display: inline-block;
  padding: 15px 48px;
  border: 2px solid #fff;
  background-color: #fff;
  color: #000;
  @include popin;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 0, 0.1, 1);

  &:hover {
    background-color: transparent;
    color: #fff;
    transform: translateY(-3px);
  }
}

.form_email {
  padding: 20px 30px 50px 30px;
  max-width: 1000px;
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(254, 254, 254, 0.075);
  border: 1px solid rgba(254, 254, 254, 0.18);
  border-radius: 15px;
  box-shadow: 0 10px 35px 0 rgba(54, 33, 0, 0.65);
  overflow: hidden;
  z-index: 1;
  .input_email {
    display: block;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    background: rgba(254, 254, 254, 0.075);
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 3px;
    box-sizing: border-box;
    color: #fefefe;
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }
}
