.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 40px;
  width: 100%;
  height: 80vh;

  .background {
    .img_photo1 {
      position: absolute;
      top: 90px;
      left: 50%;
      right: 0;
      bottom: 0;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
    }
  }

  .content {
    position: absolute;
    top: 55%;
    padding-right: 20px;
    transform: translateY(-50%);
    .title {
      position: relative;
      display: inline-block;
      overflow: hidden;
      font-family: Poppins;
      color: #000;
      line-height: 1.2;
      font-size: 72px;
      font-weight: 900;
      text-transform: uppercase;
      span {
        -webkit-text-stroke: 1px blue;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: blue;
      }
    }
    .sub_title {
      color: #555;
      font-size: 17px;
      font-weight: 500;
    }
  }
}
