@import "../scss/Common.scss";

#container {
  @include container;

  @mixin tit_effect {
    .overlay_effect {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &::before {
        content: "";
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-animation: anim 2.5s cubic-bezier(0.77, 0, 0.175, 1) both;
        animation: anim 2.5s cubic-bezier(0.77, 0, 0.175, 1) both;
        background-color: hsla(0, 0%, 100%, 0.4);
        z-index: 2;
      }

      &::after {
        content: "";
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #f9f9f9;
        -webkit-animation: anim2 2s cubic-bezier(0.77, 0, 0.175, 1) both;
        animation: anim2 2s cubic-bezier(0.77, 0, 0.175, 1) both;
      }
    }
  }

  .background {
    .img_photo1 {
      position: absolute;
      top: 95px;
      left: 50%;
      right: 0;
      bottom: 0;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
    }
  }

  .content {
    position: absolute;
    top: 56%;
    padding-right: 20px;
    transform: translateY(-50%);
    .title {
      position: relative;
      display: inline-block;
      overflow: hidden;
      @include popin;
      color: #000;
      line-height: 1.2;
      font-size: 72px;
      font-weight: 900;
      text-transform: uppercase;
      span {
        -webkit-text-stroke: 1px blue;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: blue;
      }
      @include tit_effect;
    }
    .sub_title {
      position: relative;
      overflow: hidden;
      width: 318px;
      color: #555;
      font-size: 25px;
      font-weight: 600;

      @include tit_effect;
    }
  }
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes anim2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes anim2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.btn_main {
  display: flex;
  margin-top: 15px;
  column-gap: 10px;
  .btn_white {
    display: inline-block;
    padding: 10px 33px;
    border: 2px solid black;
    background-color: #fff;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0, 0, 0.1, 1);
    &:hover {
      border: 2px solid #000;
      background-color: #000;
      color: #fff;
      transform: translateY(-3px);
    }
  }
  .btn_black {
    display: inline-block;
    padding: 10px 33px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0, 0, 0.1, 1);
    &:hover {
      border: 2px solid black;
      background-color: #fff;
      color: black;
      transform: translateY(-3px);
    }
  }
}
