@import "../scss/Common.scss";

/* 화살표 */
.fp-prev {
  left: 50px !important;
}
.fp-next {
  right: 50px !important;
}
.fp-slidesNav.fp-bottom {
  text-align: center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: $point !important;
}
#fp-nav ul li .fp-tooltip {
  color: $point !important;
}
